<!DOCTYPE html>

<html>
<head>
	<title>Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<header class="navbar-header">
				<a href="{{ url_for('index') }}" class="navbar-brand">TrafficGen</a>
			</header>
		</div>
	</nav>

	<div class="container col-md-8 col-md-offset-2">
		<div class="row">
			<div class="text-center col-md-6 col-md-offset-3">
				<br/><br/>
				<img src="{{ url_for('static', filename='shinken_logo.png') }}"/>
				<h4>Traffic Generation<br/>and Performance Measuring Module</h4>
				<br><br>
				<form action="{{ url_for('login') }}" method="POST">
					<input name="username" class="form-control" placeholder="Username"/><br/>
					<input type="password" name="password" class="form-control" placeholder="Password"/><br/>
				<button id="new_compaign_btn" class="btn btn-info btn-md btn-block">Login</button><br/>
				</form>
				{% if error %}
				<div class="alert alert-danger">
					<strong>Error: </strong> {{ error }}.
				</div>
				{% endif %}
			</div>
		</div>
	</div>

</body>
</html>
